* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container_dash {
  width: 100%;
  height: auto;
  background-color: #fff;
}

.dash_title {
  margin: 20px 0;
  text-transform: capitalize;
  font-size: clamp(50px, 5vw, 60px);
  font-weight: 700;
  text-align: center;
}

.vacancies_apply{
  display: grid;
  place-items: start;
  width: 80%;
  margin: 35px auto;
  padding: 20px 20px 70px;
  border-radius: 20px;
  box-shadow: 12px 12px 10px #dff6ff;
}

.vacancies_title {
  text-transform: capitalize;
  font-size: clamp(30px, 5vw, 70px);
  color: #fff;
}


div.photo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} 
 
div.photo:nth-of-type(1) {
  background-image: url(/public/img/dash1.jpg);
}
div.photo:nth-of-type(2) {
   background-image: url(/public/img/dash2.jpg);
}
div.photo:nth-of-type(3) {
   background-image: url(/public/img/dash3.jpg);
}

@media only screen and (min-width: 1000px) {
  .vacancies_apply {
    place-items: center;
    margin: 60px auto;
    padding: 70px 20px;
  }
  .vacancies_title {
    text-align: center;
    width: 100%;
  }
}